<li data-id="{{this.id}}" class="list-group-item">
    <a href="user/{{this.id}}">{{this.name}}</a>
    <p>{{this.email}}</p>
    <p>{{this.bio}}</p>
    <button class="btn btn-danger float-right delete">ｘ</button>
</li>